body {
    background-color: black;
}
.bet-container {
    display: flex;
    margin-bottom: -5px;
}
.summary {
    font-weight: 500;
    color: brown;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    margin-left: 5%;
}
th {
    border: 1px solid black;
    font-weight: 900;
    padding: 5px;
}
td {
    border: 1px solid black;
    font-weight: 600;
    padding: 8px;
    font-size:15px;
}
.bet-distribution {
    display: flex;
}
.distribution-analysis {
    display: flex;
}
.dist-data {
    font-size: 13px;
    padding: 10px;
    font-weight: 500;
    width: 20%;
    background-color: beige;
    height:120%;
    border: 1px solid brown;
    color: black;
}
.heading {
    border: 1px solid black;
    padding: 8px;
    width: 25%;
    background-color: beige;
    color: black;
}
.analysis-container {
    font-size: 19px;
    font-weight: 700;
    margin-left: 5%;
    color: brown;
    
}
table {
    margin-left: 10%;
    background-color:beige;
    color: black;
}
legend {
    font-size: 24px;
    font-weight: 700;
    
}
.link-betform{
    width: 15%;
    border-radius: 8px;
    background-color: lightgray;
}
.nobets {
    font-weight: 800;
    font-size: 15px;
    color: beige;
}
.link {
    border: 1px solid brown;
    border-radius: 8px;
    background-color:  beige;
    color:brown;
    
}
.link-container {
    display: flex;
    border: black;
}
button {
    font-size: 15px;
    margin-top: 15px;
    padding: 5px;
    width: 10%;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid brown;
    text-decoration: none;
    color: brown;
}
.login-status {
    text-align: right;
    font-weight: 500;
    color: beige;
}
.remove-button {
    font-size: 15px;
    width: 100%;
}
caption {
    color: brown;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
}
Link {
    color: brown;
}
a {
    color: brown;
}