.label {
    border-radius: 2px;
    border: 3px solid brown;
    font-size: 15px;
    padding: 10px;
}
.input {
    font-size: 15px;
    width: 20%;

}
.link {
    margin-top: 15px;
    padding: 5px;
    border: 1px solid brown;
}
fieldset{
    padding: 10px;
}
legend {
    color: brown;
}
.error {
    color: beige;
    font-size: 15px;
}